#easy-directory-listing-for-wordpress {
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 1em;
	padding: 1em;
	> *:not(:last-child) {
		margin-top: 0;
		margin-bottom: 1em;
	}
	.errors {
		background-color: #ccc;
		padding: 1em;
		ul, li, p { margin: 0 0 .6em }
	}
	.is-loading span {
		font-weight: bold;
	}
}

#easy-directory-listing-for-wordpress-options {
	border-bottom: 1px solid #ccc;
	margin: 0 0 1em;
	padding-bottom: 1em;
	button {
		margin-right: 1em;
	}
}

#easy-directory-listing-for-wordpress-listing-view {
	display: flex;
	width: 100%;
}

#easy-directory-listing-for-wordpress-listing {
	flex-basis: 16%;
	border-right: 1px solid #ccc;
	list-style: none;
}

#easy-directory-listing-for-wordpress-details {
	flex-basis: 84%;
}

#easy-directory-listing-for-wordpress-listing, #easy-directory-listing-for-wordpress-details {
	ul {
		margin: 0;
		padding-top: .2em;
		padding-left: .4em;
	}
	li {
		padding-top: .2em;
		margin-bottom: 0
	}
	li:before {
		content: "\f18f";
		font-family: dashicons, sans-sarif;
		font-size: 1.2em;
		vertical-align: middle;
		margin-right: .4em;
		position: relative;
		top: -1px;
		z-index: 1;
	}
	button {
		height: auto;
		padding: 0
	}
	button.is-primary {
		background: none;
		box-shadow: none;
		color: inherit;
		font-weight: bold;
	}
	button.is-secondary {
		background: 0;
		box-shadow: none;
		color: inherit;
	}
	.dashicons[data-type="application/zip"]:before {
		content: "\f501";
	}
	.dashicons[data-type="text/plain"]:before {
		content: "\f491";
	}
	.dashicons[data-type="text/css"]:before {
		content: "\f499";
	}
	.dashicons[data-type="text/html"]:before {
		content: "\f497";
	}
	.dashicons[data-type^="image/"]:before {
		content: "\f104";
	}
	.actions button {
		background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
		border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
		color: #fff;
		text-shadow: none;
		display: inline-block;
		text-decoration: none;
		font-size: 13px;
		line-height: 2.15384615;
		min-height: 30px;
		margin: 0;
		padding: 0 10px !important;
		cursor: pointer;
		border-width: 1px;
		border-style: solid;
		-webkit-appearance: none;
		border-radius: 3px;
		white-space: nowrap;
		box-sizing: border-box;
	}
}

#easy-directory-listing-for-wordpress-details table {
	border-left: 0;
	.actions { width: 72px }
	.type { width: 24px; }
	.filepreview { width: 32px }
}

body.taxonomy-edlfw_archive {
	#col-left { display: none }
	#col-right { float: none;width: auto; }
	#col-right .col-wrap { padding: 0 }
	.term-slug-wrap, .term-description-wrap { display: none }
	.term-name-wrap .description { display: none }
}
